.first {
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}

.first a {
    text-decoration: none;
    background-color: #E55473;
    border: 2px solid color #E55473;
    border-radius: 5px;
    padding: 15px 30px;
}

.first .content {
    width: 800px;

}

.title {

    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;

}

.description {

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;


}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {

    color: black;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.section-description{
    color: black;
    font-size: 18px;
    text-align: center;

}
.header {
    background: rgba(229, 84, 115, 0.10);
    background-image: url('../images/pngwing\ 10.png')no-repeat;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;

    align-items: center;
    background-size: cover;
    width: 1920px;
    height: 850px;
}

.profile-pic {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    background-color: lightgray 50%;
    padding: 50px 240px;
}









.content3 {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    justify-content: space-between;

}

.image {
    max-width: 100%;
    max-height: 100%;
    width: 318px;
    height: 420px;
}


.header22 {

    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    padding: 230px 20px 10px 10px;


}

.content4 {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    padding: 10px 20px 5px 10px;
}

.img {

    width: 88px;
    height: 88px;
    font-size: 20px;

}



.content5 {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    justify-content: space-between;
}

.form {
    display: flex;
    width: 88px;
    height: 27.429px;
    flex-direction: column;


    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content6 {
    text-align: center;

}

.head4 {

    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;


}

.white {
    background-color: #FFFFFF;

}


.last {

    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
















.deal {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;


}

.off {
    background-color: #E55473;
}

.offer {
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn {

    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image2 {

    width: 318px;
    height: 420px;
    flex-shrink: 0;
    background: url('../images/pngwing\ 8.png'), lightgray 50% / cover no-repeat;
    background-position: bottom right;


}

.header2 {

    width: 1922px;
    height: 620px;

    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);


}







.instagram {

    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    padding: 230px 20px 10px 10px;


}

.insta {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    padding: 10px 20px 5px 10px;
}

.img2 {

    width: 88px;
    height: 88px;
    font-size: 20px;

}